@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poppins&display=swap');

* {
    --main-bg-color: hsl(257, 40%, 49%);
    --headings-font: "Poppins", sans-serif;
    --body-font: "Open Sans", sans-serif;
    box-sizing: border-box;
}

html {
    height: 100vh;
    width: 100vw;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

a {
	text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    padding: 3vh 5% 0 5%;
 }

.main-background {
    background-image: url("../images/bg-desktop.svg");
    background-color: var(--main-bg-color);
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: auto 100%;
}

blockquote p {
  box-shadow: 0 -6px 0 var(--main-bg-color);
  margin-top: 1.3em;
  color: hsl(247, 30%, 49%);
  font-style: italic;
  font-family: var(--headings-font);
  font-size: 2.1em;
}

/* ------ NAVIGATION BAR ---------*/
header,
#main-nav {
    display: flex;
}

header,
h1 {
    font-family: var(--headings-font);
}

header {
    align-items: baseline;
    justify-content: space-between;
}

#logo,
#bars {
    font-size: 1.5em;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

#main-nav {
    font-size: 1.2em;
    justify-content: stretch;
    align-self: flex-end;
    list-style: none;
    flex-direction: column;
}

 #logo a,
 .logo a, i {
    text-transform: uppercase;
    color: #fff;
}

/*=====modal menu=======
*/

#modal .modal-content {
    position: fixed;
    border-radius: 4px;
    color: #090909;
    width: 20vw;
    right: 10px;
    top: 12px;
    background-color: #fff;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.051);
    transform-origin: 50% 10%;
    overflow: hidden;
    padding: 2em;
}

#dash-art-actions {
  position: fixed;
  top: 2em;
  right: 1.4em;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 2em;
    font-weight: bold;
    position: fixed;
    top: 1.2em;
    right:  1.7em;
    z-index: 101;
  }

  .close:hover,
  .close:focus,
  #bars {
    cursor: pointer;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
  }

  /* ------------*/

main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2.5%;
    flex: 1 0 auto;
    justify-content: center;
}

#img-container img {
    max-width: 75vw;
    max-height: 70vh;
}

#txt-container {
    padding: 1.5em 1em 1em 2vw;
    max-width: 40vw;
    max-height: 100%;
}

#txt-container h1 {
    width: 90%;
    font-size: calc(2em);
    margin: 0.5em 0;
}

h1 {
    color: #fff;
    letter-spacing: 0.03em;
}

p {
    font-size: 1.2em;
    font-family: var(--body-font);
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.8);
    margin: 0.5em 0 1em;
}

#social-container {
  display: flex;
  justify-content: center;
}

.social {
    border: 0.05em solid #fff;
    border-radius: 50%;
    height: 2em;
    width: 2em;
    padding: 0.4em;
    margin: 0.4em;
    cursor: pointer;
}

#register-button {
    background-color: #fff;
    border: 0;
    border-radius: 5em;
    padding: 0.05em;
    box-shadow: 0 15px 20px rgba(45, 45, 45, 0.664);
    cursor: pointer;
    color: var(--background-color);
    text-align: center;
    width: 35%;
    margin: 1em 0;
    padding: 0.7em;
}

.attribution {
    font-size: calc(11px + 0.25vw);
    text-align: center;
    padding: 4px;
    margin: 0;
}

.attribution a {
    color: #fff;
}

/* =======================================================================
                      signup.html || signin.html
   =======================================================================
*/

.auth-main,
.dash-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 60vh;
}

#form-wrapper {
    border: 1px solid var(--main-bg-color);
    background: hsla(0,0%,100%,.3);
    border-radius: 2px;
    padding: 2em;
    text-align: center;
    width: 30vw;
}

input[type=email],
input[type=password],
input[type=submit],
input[type=text],
textarea {
    width: 100%;
    border-radius: 5px;
    padding: .99em;
    margin-bottom: .9em;
}

textarea {
    height: 10em;
}

textarea:focus {
    border: 2px solid hsl(257, 40%, 49%);
}

input[type=submit] {
    text-transform: uppercase;
    background: #fff;
}

input[type=submit]:hover {
    color: #fff;
    background-color: var(--main-bg-color);
}

input[type=checkbox] {
    margin-bottom: .9em;
}

.new-art-bloc {
    width: 40vw;
}

/* =======================================================================
                              DASHBOARD
   =======================================================================
*/

.dash-header {
    background-color: var(--main-bg-color);
}

#admin-nav-bloc {
    margin-right: 15px;
}

.padding-lt {
    padding-left: 5%;
}

.padding-rt {
    padding-right: 5%;
}

#dash-last-child {
    color: white;
    padding-right: 5%;
    display: flex;
}

.dash-main {
    margin-left: 0;
    margin-right: 0;
}

.dash-main p {
    color: #000;
}

.dash-footer p {
  margin: 1em;
}

.dash-footer {
    background-color: var(--main-bg-color);
   /* position: absolute;
    width: 100%;
    margin: 0;
    bottom: 0;*/
}

.dash-footer,
.front-footer {
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    justify-content: space-between;
    align-items: baseline;
    flex-shrink: 0;
}

.social:hover {
    color: #fff;
}

#twitter:hover {
    background-color: #38A1F3;
    border: 1px solid #38A1F3;

}

#facebook:hover {
    background-color: #4267b2;
    border: 1px solid #4267b2;
}

#linkedin:hover {
    background-color: #0077B5;
    border: 1px solid #0077B5;
}

/* =======================================================================
                         Employees posts styles
   =======================================================================
*/
.list-posts,
.my-posts {
  display: flex;
  width: 80vw;
  flex-wrap: wrap;
  justify-content: space-between;
}

.list-post-info {
  display: flex;
  justify-content: space-between;
}

.user-post {
    width: 38vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #fff;
    margin-bottom: 3.5em;
    border-radius: .5rem;
    transition: all .2s ease-in-out;

}

.user-post:hover {
    box-shadow: 0 0 8px 0 rgba(17,22,26,.16),
                0 4px 8px 0 rgba(17,22,26,.08),
                0 8px 16px 0 rgba(17,22,26,.08);
}

.list-posts-title,
.post-title a {
  color: #000;
}

.post-title a {
  font-weight: 800;
}



.dash-body {
    background-color: rgb(250, 251, 252);
}

.post-illustration {
    width: 38vw;
    height: 35%;
}

.post-bloc {
  padding: 2.5em;
}

/*.post-detail-image {
    width: 100vw;
    height: 100vh;
}
*/
.author-img {
    width: 2.8em;
    height: 2.8em;
    margin-right: .5em;
    border-radius: 50%;
}

.post-illustration  img,
.post-detail-image img {
    width: 100%;
    height: 100%;
}

.post-illustration  img {
    border-radius: .5rem .5rem 0 0;

}

.post-detail-title,
.post-info,
.new-art-title {
    align-self: flex-start;
    color: #000;
}

.post-info  {
    display: flex;
    margin-bottom: 5em;
}

.post-content,
.comment-section {
    margin: 2em 0;
    width: 50vw;
}

hr {
    width: 100%;
    border: 1px solid;
    width: 50vw;
}

.comment-form-bloc {
    width: 40vw;
    align-self: flex-start;
}

.del-art-btn,
.edit-art-btn {
  text-transform: uppercase;
    cursor: pointer;
    background-color: hsl(257, 40%, 49%);
    padding: 1em;
    color: #fff;
    margin-bottom: 1.5em;
    border: 1px solid hsl(257, 40%, 49%);
}

/* Delete & edit article */
.del-art-modal,
.edit-art-modal,
#modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0, 0.4);
}

.del-art-modal-content,
.edit-art-modal-content {
    background-color: #fefefe;
    border-radius: .29em;
    padding: 20px;
    box-shadow: 0 0 8px 0 rgba(17,22,26,.16),
                0 4px 8px 0 rgba(17,22,26,.08),
                0 8px 16px 0 rgba(17,22,26,.08);
}

.del-art-modal-content {
    width: 28vw;
    margin: 15em auto;
}

.edit-art-modal-content {
    width: 45vw;
    margin: 2em auto;
}

.del-art-modal-content p {
    color: #000;
}

.del-response {
    display: flex;
    justify-content: flex-end;
    margin-top: 2em;

}

.list-post-info,
.del-response button {
  text-transform: uppercase;
}

.del-response button {
  padding: 1em 2em;
  cursor: pointer;
}


.del-response #cancel {
    color: hsl(257, 40%, 49%);
    background-color: white;
    border: none;
    margin-right: 5px;
}

.del-response #confirm {
    color: white;
    background-color: hsl(257, 40%, 49%);
    border: none;
}

.del-response #cancel:hover,
.del-response #confirm:hover {
    box-shadow: 0 0 8px 0 rgba(17,22,26,.16),
    0 4px 8px 0 rgba(17,22,26,.08),
    0 8px 16px 0 rgba(17,22,26,.08);
}

/* =======================================================================
                         Responsive design
   =======================================================================
*/

/* 850px */
@media screen and (max-width: 53.125em) {

  body {
    background-image: url("../images/bg-mobile.svg");
    background-size: 100%;
  }

  main {
    text-align: center;
  }

  #txt-container p {
    margin: auto;
  }

  #container {
    align-items: center;
  }

  #logo {
    width: 43%;
  }

  .logo {
    width: 43%;
    font-size: 1.1em;
  }

    h1 {
      font-weight: 700;
      font-size: 1.5em;
  }

  p {
      font-weight: 400;
      width: 85%;
      font-size: 1em;
  }

    #img-container {
        margin: 12% 0 10%;
    }

    #img-container img {
        width: 85%;
        max-width: 500px;
    }

    #register-button {
        margin: 7% auto;
        width: 55%;
        font-size: 0.9em;
        padding: 1rem;
      }

    .attribution {
        width: 100%;
        text-align: center;
        padding: 10px;
    }

    #txt-container {
        padding: 0;
        max-width: 100vw;
    }

    footer {
        text-align: center;
    }

    /* --- sign in --- */
    #form-wrapper {
        width: 90vw;
    }

    .user-post {
        flex-wrap: wrap;
    }

    #modal .modal-content {
      width: 95vw;
    }

  .post-illustration,
  .user-post {
    width: 100vw;
  }

.post-bloc {
  padding: 0;
  margin-bottom: 1em;
  text-align: center;
}

.post-description {
  margin: auto;
}

.padding-rt,
#social-container {
  margin: auto;
}

.edit-art-modal-content,
.del-art-modal-content,
.new-art-bloc  {
  width: 100vw;
}

.edit-art-modal-content,
.del-art-modal-content {
  margin: 14em 0;
}

.list-posts,
.my-posts {
  width: 90vw;
}

.post-illustration {
  height: unset;
}

.post-illustration,
.user-post {
  width: 90vw;
}

.post-detail-image {
  height: 50vh;
}

.post-content,
.comment-section
 {
    width: 100%;
    font-size: 1.5em;
}

hr { width: 80vw; }

.comment-form-bloc,
.post-content p { width: 100%; }

.edit-art-modal,
#modal {
  top: -105px;
}

}

/* 1000px */
@media screen and (min-width: 53.125em) and (max-width: 62.500em) {
    body {
        background-image: url("../images/bg-mobile.svg");
    }

    #container {
        justify-content: space-between;
        padding: 2vh 2% 0 3%;
    }

    h1 {
        font-weight: 700;
        font-size: 1.5em;
        margin: 5% auto;
        width: 78%;
    }

    p {
        font-weight: 400;
        margin: 5% auto;
        width: 85%;
        font-size: 1em;
      }

    #logo-container {
        max-height: 15vh;
        margin-bottom: 3vh;
    }

    #logo {
        width: 20vw;
    }

    #img-container img {
        max-height: 63vh;
    }

    #register-button {
        font-size: 18px;
        padding: 1em 5.5em;
      }

    #txt-container {
       text-align: center;
    }

    #txt-container h1,
    #txt-container p {
        max-width: 85vw;
        margin: 5vh;
    }

    .user-post {
        flex-wrap: wrap;
        width: 100%;
    }

blockquote {
    font-size: .9em;
}

}
